[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
asgiref = "3.9.1"
astroid = "2.3.3"
colorama = "0.4.3"
dj-database-url = "0.5.0"
django-heroku = "0.3.1"
gunicorn = "23.0.0"
isort = "4.3.21"
lazy-object-proxy = "1.4.3"
mccabe = "0.6.1"
psycopg2-binary = "2.9.10"
pylint = "2.4.4"
pytz = "2019.3"
six = "1.14.0"
sqlparse = "0.3.1"
whitenoise = "5.0.1"
wrapt = "1.11.2"
django-crispy-forms = "1.9.1"
django = "5.2.6"
pillow = "*"

[requires]
python_version = "3.12"
