{% extends "rings/base.html" %}
{% load static %}
{% block title %}Login{% endblock title %}
{% block content %}
<div class="main">

    <div class="card_container">
        <div class="login-content">
            <form method="POST" id="signup-form" class="signup-form">
                <h2>Log in</h2>
                <p class="desc">Welcome to <span>DS3Rings</span></p>
                <div class="form-group">
                    <input type="email" class="form-input" name="email" id="email" placeholder="Email"/>
                </div>
                <div class="form-group">
                    <input type="password" class="form-input" name="password" id="password" placeholder="Password"/>
                    <span toggle="#password" class="zmdi zmdi-eye field-icon toggle-password"></span>
                </div>
                <div class="form-group">
                    <input type="submit" name="submit" id="submit" class="form-submit submit" value="Log in"/>
                    <a href="register/" class="submit-link submit">Sign up</a>
                </div>
                <div class="form-group">
                    <a href="#" class="text-light">I forgot my password</a>
                </div>
            </form>
        </div>
    </div>

</div>
{% endblock content %}
