{% extends "rings/base.html" %}
{% block title %}List{% endblock title %}
{% block nav %}
    <nav class="navbar navbar-dark bg-dark">
        <button type="button" class="btn btn-outline-success">Save changes</button>
        <button type="button" class="btn btn-outline-danger">Logout</button>
    </nav>
{% endblock nav %}
{% block content %}
    {% if user.is_authenticated %}
    <div class="main">
        <div style="height: 2rem;">

        </div>
        <div class="container">
            {% for ring in rings %}
                <div class="card ring-card">
                    <div class="card-body">
                        <img src="{{ ring.image.url }}" alt="">
                        <h5 class="card-title">{{ ring.name }}</h5>
                        <p class="card-text">This ring can be found in {{ ring.location }}.</p>
                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    {% endif %}
{% endblock content %}